* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* Style the header */
.header {
  background-color: white;
  padding: 12px;
  text-align: center;
  margin: auto;
}

/* Style the top navigation bar */
.topnav {
  float : center;
  background-color: white;
  width: 80%; 
  /*font-size : 5vw ;*/
  margin: auto;
  
}


/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 5px;
}


/* Left and right column */
.column.side {
  width: 20%;
}

/* Middle column */
.column.middle {
  width: 60%;
  font-size : 1em ;
}

div {
  margin-bottom: 15px;
  padding: 1px 1px;
}

.info {
  background-color: #e7f3fe;
  border-left: 6px solid #2196F3;
}

#myInput {
  background-image: url('/searchicon.svg');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #aaa;
  margin-bottom: 12px;
}

.column.middle table {
  border-collapse: collapse;
  /*border: 1px solid black;*/
  width: 100%;
  
  
  
}

.column.middle th {
  padding: 12px;
  text-align: center;
  border: 1px solid #ddd;
  border-bottom: 1px solid black;
  /*font-size : 2em ;*/
}

.column.middle td {
  padding: 8px;
  text-align: center;
  border: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  /*font-size : 20px ;*/
}

.column.middle tr:nth-child(even) {
  background-color: #ffeedb
}

.column.middle tr:hover {
	background-color:#ddd;
	cursor:pointer;
}

.header ccard {
  background: linear-gradient(90deg, rgba(255, 165, 0, 0.5) 0%, orange 100%);
  color: white;
  width: 8rem;
  text-align: center;
  display: inline-block;
  padding: 4px ;
  margin:  2px ;
}

.header acard {
  background: linear-gradient(90deg, rgba(0, 0, 255, 0.5) 0%, blue 100%);
  color: white;
  width: 8rem;
  text-align: center;
  display: inline-block;
  padding: 4px ;
  margin:  2px ;
}

.header rcard {
  background: linear-gradient(90deg, rgba(0, 128, 0, 0.5) 0%, green 100%);
  color: white;
  width: 8rem;
  text-align: center;
  display: inline-block;
  padding: 4px ;
  margin:  2px ;
}

.header dcard {
  background: linear-gradient(90deg, rgba(255, 0, 0, 0.5) 0%, red 100%);
  color: white;
  width: 8rem;
  text-align: center;
  display: inline-block;
  padding: 4px ;
  margin:  2px ;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.footer {
  background-color: white;
  padding: 12px;
  text-align: center;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column.middle, .column.side {
    width: 100%;
  }
}

#error_button {
  background-color : rgba(173, 24, 173, 0.8);
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  font-size: 1rem;
  margin: 2px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}



